
h3 {
    font-size: 4em;
    margin-top: 12px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: bold;
    font-style: normal; 
}

.project-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#project-container {
    background-color: #007791;
    margin-top: -10px;
}

.project-title {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.icon {
    height: 70px;
    margin-left: 15px; 
}

.pine {
    height: 400px; 
}

.link {
    height: 30px; 
}

.travel {
    height: 400px;
    width: 650px; 
}

.project {
    border: solid 5px black; 
    cursor: pointer;
}

.cypress {
    height: 50px;
}

.house {
    height: 300px
}
