#bio-container {
    display: flex; 
    height: 100vh; 
}

.mountain {
    height: 99vh;
    width: 35vw;
    background-image: url('https://i.natgeofe.com/n/524a3b15-dd84-4eed-b117-321bb9d65739/lowimpactLEAD.jpg?w=1280&h=1920');
    background-size: cover;
    background-position: center;
}

.bio {
    background-color: #72A0C1;
    width: 65vw;
    height: 87vh;
    margin-top: 12vh; 
}

.bio-message {
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 0; 
    width: 90%;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 0; 
}

.photo {
    height: 300px;
    border-radius: 20px;
    margin-top: -190px;
}

h2 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: bold;
    font-style: normal; 
    font-size: 4.5em; 
    margin-top: 0;
    margin-bottom: 0; 
    color: #734444
}

.media-container {
    /* margin-right: 5px; */
    display: flex;
    /* justify-content: flex-end; */
    /* margin-top: 10px; */
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.github, 
.linkedin {
    height: 65px;
}

span {
    color: #aedadd;
    font-weight: bold;
}

.style {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.c {
    color: #aed09e
}

.italic {
    font-style: italic;
    color: black; 
    font-weight: 500;
}

.alliteration {
    margin-top: 0; 
}