header {
    height: 12vh;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal; 
    display: flex; 
    background-color: #A9BA9D;
    align-items: center; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

h1 {
    font-size: 3em;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 50px;
}

.media {
    font-size: 2em;
    color: black; 
    text-decoration: none;
    margin-right: 40px;
    &:hover {
        font-size: 2.2em; 
    }

}

.scenic {
    height: 50px;
    margin-left: 35px;
} 

.links {
    display: flex; 

}

.intro {
    display: flex;
    align-items: center; 
}

.role {
    font-size: 1.5em;
}